.clock_status,
.clock_in {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: Arial, sans-serif;
}

.clock>div {
  padding: 10px 10px;
  background-color: #3330;
  color: #6c757d;
  border-radius: 1px;
  text-align: center;
  letter-spacing: -1px;
}

.clock>div:before,
.clock>div:after {
  display: inline-block;
  font-size: 0.7em;
  line-height: 1;
  vertical-align: middle;
  opacity: 0.8;
}

.clock>div:first-child:before,
.clock>div:nth-child(2):before {
  content: none;
}

.clock>div:last-child:after {
  content: none;
}